@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500&family=Roboto&display=swap');
@import url("../css/m3/m3_theme.css");
@import url("../css/m3/m3_dialog.css");
@import url("../css/m3/m3_filled_tonal_button.css");
@import url("../css/m3/m3_flat_button.css");
@import url("../css/m3/m3_input_field.css");
@import url("../css/m3/m3_select_menu.css");
@import url("../css/m3/m3_switch.css");
@import url("../css/disable_scrollbar.css");

body {
    all: unset;
    background-color: rgb(var(--md3-background));
}

.main {
    display: flex;
    flex-direction: column;
}

.setting-container {
    display: flex;
    flex-direction: row;
}

.nav {
    user-select: none;
    width: 300px;
}

.nav > div {
    height: 48px;
    line-height: 48px;
    margin: 4px 12px;
    border-radius: 48px;
    transition: background .1s ease-in-out,
                outline .1s ease-in-out;
}

.nav > div:not(.active):hover {
    background-color: rgba(var(--md3-on-surface), .08);
}

.nav > div:not(.active):focus {
    background-color: rgba(var(--md3-on-surface), .12);
}
.nav > div:focus-visible {
    background-color: rgba(var(--md3-on-surface), .12);
    outline: 2px solid rgb(var(--md3-primary));
}

.nav > div:not(.active):active {
    background-color: rgba(var(--md3-on-secondary-container), .12);
}

.nav > div.active {
    background-color: rgb(var(--md3-secondary-container));
}

.nav > div span {
    margin: 0 20px;
    color: rgb(var(--md3-on-background));
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 300;
    white-space: nowrap;
}

.titlebar {
    user-select: none;
    padding: 32px;
}

.headline-medium {
    color: rgb(var(--md3-on-surface));
    font-size: 36px !important;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 400;
    line-height: 34px;
    margin: 0 4px;
}

#list {
    margin: 0 12px;
}

.list-container {
    display: none;
}

.list-container.show {
    display: block;
}

.control-title {
    user-select: none;
    margin: 10px 0;
    color: rgb(var(--md3-primary));
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.control-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.option-container {
    display: flex;
    width: 98%;
    flex-direction: row;
    align-items: center;
}
.option-container.input-field {
    flex-direction: column;
    align-items: unset;
    margin-bottom: 10px;
}

.option-container > .control {
    margin: 0 10px;
}

.option-container > *:last-child {
    justify-self: right;
}

.option-label {
    user-select: none;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    flex: 1;
}

.option-label .option-label-title {
    color: rgb(var(--md3-on-background));
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.option-label .option-label-description {
    color: rgba(var(--md3-on-background), .6);
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    white-space: pre-line;
}

code {
    user-select: text;
    background-color: #000;
    padding: 5px;
    border-radius: 5px;
    font-family: 'Consolas', monospace;
}

#modal-overlay {
    display: none;
    z-index: 25565;
    background-color: rgba(0, 0, 0, .4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.external-link {
    color: rgb(var(--md3-primary));
    text-decoration: underline;
    cursor: pointer;
}

.external-link:hover {
    color: rgb(var(--md3-on-secondary-container));
    text-decoration: underline;
    cursor: pointer;
}

.external-link .icon {
    color: rgb(var(--md3-primary));
}

.external-link .material-icons {
    font-size: 20px;
    vertical-align: middle;
    padding-left: 4px;
}

::selection {
    background-color: rgb(var(--md3-outline));
}