.slider-input > input {
  appearance: none;
  display: block;
  position: relative;
  height: 36px;
  width: 40%;
  background-color: transparent;
  cursor: pointer;
}

.slider-input > input::-webkit-slider-runnable-track {
  height: 2px;
  width: 100%;
  margin: 17px 0;
  border-radius: 1px;
  background-color: var(--md-primary-container);
}

.slider-input > input::-webkit-slider-thumb {
  appearance: none;
  height: 2px;
  width: 2px;
  border: none;
  border-radius: 32px;
  background-color: var(--md-primary);
  transform: scale(6, 6);
  transition: box-shadow 0.2s;
}

.pure-material-slider:hover > input::-webkit-slider-thumb {
  box-shadow: 0 0 0 2px var(--md-on-secondary-container);
}

.pure-material-slider > input:active::-webkit-slider-thumb {
  box-shadow: 0 0 0 2px var(--md-on-primary-container) !important;
}