html:lang(en) body {
    --rt-station-max: "Max.";
    --rt-station-local: "Now";
    --rt-station-time: "Time";
    --rt-station-intensity: "Int.";
    --rt-maxintensity: "Max. Int.";
}

html:lang(ja) body {
    --rt-station-max: "最大";
    --rt-station-local: "現在";
    --rt-station-time: "時間";
    --rt-station-intensity: "震度";
    --rt-maxintensity: "最大震度";
}

html:lang(kr) body {
    --rt-station-max: "최고";
    --rt-station-local: "지금";
    --rt-station-time: "시간";
    --rt-station-intensity: "진도";
    --rt-maxintensity: "Max. Int.";
}

html:lang(ru) body {
    --rt-station-max: "максимум";
    --rt-station-local: "Текущий";
    --rt-station-time: "Время";
    --rt-station-intensity: "Интенси";
    --rt-maxintensity: "Max. Int.";
}

html:lang(zh-TW) body {
    --rt-station-max: "最大測站";
    --rt-station-local: "目前測站";
    --rt-station-time: "時間";
    --rt-station-intensity: "震度";
    --rt-maxintensity: "最大震度";
}

html:lang(zh-CN) body {
    --rt-station-max: "最大测站";
    --rt-station-local: "目前测站";
    --rt-station-time: "时间";
    --rt-station-intensity: "震度";
    --rt-maxintensity: "最大震度";
}