.rts-marker {
  all: unset;
  height: 8px;
  aspect-ratio: 1;
  border-radius: 8px;
  outline: 1px solid var(--md-outline);
  overflow: hidden;
  transition: opacity .2s;
}

#map.hide-rts .rts-marker {
  opacity: 0;
  pointer-events: none;
}

circle {
  fill: transparent;
}

.cross-inner {
  fill: #f00;
}

.cross-outer {
  fill: var(--md-on-background)
}

.blink {
  animation: 1s infinite blink
}

#svg-defs {
  position: fixed;
  visibility: hidden;
}

stop.alert-start{
  stop-color: rgba(255 0 0 / 1%);
}

stop.alert-stop{
  stop-color: rgba(255 0 0 / 20%);
}

stop.pred-start{
  stop-color: rgba(255 165 0 / 1%);
}

stop.pred-stop{
  stop-color: rgba(255 165 0 / 20%);
}

@keyframes blink{
  0% {
    visibility: visible;
  }

  50% {
    visibility: hidden;
  }

  100% {
    visibility: hidden;
  }
  }