@import url("./panels/reports.css");

.panel {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.panel.show {
  opacity: 1;
  pointer-events: all;
}


.scroll-wrapper {
  height: inherit;
  overflow: auto;
}