@import url("https://fonts.googleapis.com/css2?family=Google+Sans:wght@400;500&family=Noto+Sans+TC:wght@300;400;500&family=Noto+Sans+SC:wght@300;400;500&family=Noto+Sans+JP:wght@300;400;500&family=Roboto&display=swap");
@import url("../css/titlebar.css");
@import url("../css/m3/m3_theme.css");
@import url("../css/m3/m3_dialog.css");
@import url("../css/m3/m3_filled_tonal_button.css");
@import url("../css/m3/m3_flat_button.css");
@import url("../css/m3/m3_input_field.css");
@import url("../css/m3/m3_ripple.css");
@import url("../css/m3/m3_select_menu.css");
@import url("../css/m3/m3_slider.css");
@import url("../css/m3/m3_switch.css");
@import url("../css/m3/m3_table.css");
@import url("../css/disable_scrollbar.css");

html:lang(en) {
    font-family: "Google Sans",  "Noto Sans TC", "Noto Sans JP", "Arial", sans-serif;
}
html:lang(ja) {
    font-family: "Google Sans", "Noto Sans JP", "Meiryo", "MS PGothic", sans-serif;
}
html:lang(ru),
html:lang(zh-TW) {
    font-family: "Google Sans", "Noto Sans TC", "Noto Sans JP", "Microsoft JhengHei", sans-serif;
}

body {
    position: absolute;
    background-color: transparent;
    overflow: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    border-radius: 16px;
}

:not(body):lang() {
	display: none;
}

.body {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    border-radius: 16px;
    background-color: rgb(var(--md-sys-color-background));
    transition: background-color .1s ease-in-out,
                color .1s ease-in-out;
}

.main {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 28px;
    right: 0;
    bottom: 12px;
    left: 0;
}

.setting-container {
    display: flex;
    flex-direction: row;
    min-height: 0;
    flex: 1;
}

.nav {
    user-select: none;
    width: 300px;
}

.nav > div:not(.client-info-container) {
    position: relative;
    display: grid;
    align-items: center;
    min-height: 48px;
    margin: 0 12px;
    border-radius: 32px;
    transition: background-color .1s ease-in-out,
    outline .1s ease-in-out;
}

.nav > div:not(.client-info-container):not(.active):hover {
    background-color: rgba(var(--md-sys-color-on-surface), .08);
}

.nav > div:not(.client-info-container):not(.active):focus {
    background-color: rgba(var(--md-sys-color-on-surface), .12);
}
.nav > div:not(.client-info-container):focus-visible {
    background-color: rgba(var(--md-sys-color-on-surface), .12);
    outline: 2px solid rgb(var(--md-sys-color-primary));
}

.nav > div:not(.client-info-container):not(.active):active {
    background-color: rgba(var(--md-sys-color-on-secondary-container), .12);
}

.nav > div:not(.client-info-container).active {
    background-color: rgb(var(--md-sys-color-secondary-container));
}

.nav > div:not(.client-info-container) span {
    margin: 10px 20px;
    color: rgb(var(--md-sys-color-on-background));
    font-weight: 300;
    word-wrap: break-word;
}

.client-info-container {
    margin: 8px 32px;
    color: rgba(var(--md-sys-color-on-surface-variant), .6);
    font-size: 12px;
    font-weight: 300;
}

#client-uuid {
    cursor: help;
    text-decoration: underline rgba(var(--md-sys-color-on-surface-variant), .6) dotted;
}

.titlebar {
    user-select: none;
    padding: 32px;
}

.headline-medium {
    color: rgb(var(--md-sys-color-on-surface));
    font-size: 36px !important;
    font-weight: 400;
    line-height: 34px;
    margin: 0 4px;
}

.right {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 8px;
}

#list {
    overflow: hidden scroll;
    height: 100%;
    margin: 0 8px;
    flex: 1;
    display: flex;
}

#list::-webkit-scrollbar {
    display: initial;
    width: 6px;
}

#list::-webkit-scrollbar-track {
    background: transparent;
}

#list::-webkit-scrollbar-thumb {
    background: rgb(var(--md-sys-color-surface-variant));
    border-radius: 10px;
}

#list::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(0deg, rgba(var(--md-sys-color-on-surface-variant), .08) 0%, rgba(var(--md-sys-color-on-surface-variant), .08) 100%),
                rgb(var(--md-sys-color-surface-variant));
}

.alert-disabled {
    user-select: none;
    display: none;
    background-color: rgb(var(--md-sys-color-error-container));
    border: 1px solid rgb(var(--md-sys-color-error));
    border-radius: 16px;
    color: rgb(var(--md-sys-color-on-error-container));
    padding: 12px;
    margin: 8px 16px;
    font-weight: 600;
}

.alert-disabled .alert-moreinfo {
    color: rgba(var(--md-sys-color-on-error-container), 1);
    text-decoration: underline;
    cursor: pointer;
    transition: color .1s ease-in-out;
}

.alert-disabled .alert-moreinfo:hover {
    color: rgba(var(--md-sys-color-on-error-container), .6);
}

.alert-warn {
    user-select: none;
    display: none;
    background-color: rgba(252, 187, 74, .2);
    border: 1px solid hsl(38, 90%, 55%);
    border-radius: 16px;
    color: hsl(38, 90%, 55%);
    padding: 12px;
    margin: 8px 16px;
    font-weight: 500;
}

body.settingDisabled .alert-disabled {
    display: revert;
}

.control-title, .option-label {
    transition: opacity .1s ease-in-out;
}

body.settingDisabled .control-title, body.settingDisabled .option-label {
    opacity: .6;
}

.list-container {
    display: none;
    width: 100%;
    margin: 0 8px;
    height: max-content;
}

.list-container > * > * {
    opacity: 1;
    transition: opacity .2s ease-in-out;
}

.list-container.show {
    display: block;
}

.list-container > div:last-child {
    margin-bottom: 0;
}

.control-title {
    user-select: none;
    margin: 10px 0;
    color: rgb(var(--md-sys-color-primary));
    font-size: 24px;
    font-weight: 400;
}

.control-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.option-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.option-container.input-field {
    flex-direction: column;
    align-items: unset;
    margin-bottom: 10px;
}

.option-container > .control {
    margin: 0 10px;
}

.option-container > *:last-child {
    justify-self: right;
}

.option-label {
    user-select: none;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    flex: 1;
}

.option-label .option-label-title {
    color: rgb(var(--md-sys-color-on-background));
    font-size: 20px;
    font-weight: 500;
}

.option-label-id {
    color: rgba(var(--md-sys-color-on-surface-variant), .4);
    font-family: "Consolas", monospace;
    font-size: 14px;
    font-weight: 500;
    margin-left: 4px;
}

.option-label .option-label-description {
    color: rgba(var(--md-sys-color-on-surface-variant), .8);
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
}

.option-label .option-label-description > span {
    white-space: pre-line;
}

.color-input {
	opacity: 0;
	display: block;
	width: 32px;
	height: 32px;
	border: none;
}

.color-input-wrapper {
    border-radius: 8px;
    border: 2px solid rgb(var(--md-sys-color-outline));
}

code {
    user-select: text;
    background-color: rgb(var(--md-sys-color-surface-variant));
    color: rgb(var(--md-sys-color-on-surface-variant));
    padding: 5px;
    border-radius: 5px;
    font-family: "Consolas", monospace;
}

.external-link {
    color: rgb(var(--md-sys-color-primary));
    text-decoration: underline;
    cursor: pointer;
}

.external-link:hover {
    color: rgb(var(--md-sys-color-on-secondary-container));
}

.external-link .icon {
    color: rgb(var(--md-sys-color-primary));
}

.external-link .material-icons {
    font-size: 20px;
    vertical-align: middle;
    padding-left: 4px;
}

::selection {
    background-color: rgb(var(--md-sys-color-outline));
}