html:lang(en) body {
    --rt-station-time: "Time";
    --rt-station-intensity: "Int.";
}

html:lang(ja) body {
    --rt-station-time: "時間";
    --rt-station-intensity: "震度";
}

html:lang(kr) body {
    --rt-station-time: "시간";
    --rt-station-intensity: "진도";
}

html:lang(ru) body {
    --rt-station-time: "Время";
    --rt-station-intensity: "Интенси";
}

html:lang(zh-TW) body {
    --rt-station-time: "時間";
    --rt-station-intensity: "震度";
    --rt-maxintensity: "最大震度";
}

html:lang(zh-CN) body {
    --rt-station-time: "时间";
    --rt-station-intensity: "震度";
}