label.chip > input {
	opacity: 0;
	width: 0;
	height: 0;
	margin: 0;
	padding: 0;
}

label.chip > .chip-label, button.chip.assist {
	all: inherit;
	display: inline-block;
	position: relative;
	height: 32px;
	padding-right: 16px;
	background-color: transparent;
	outline: 1px solid rgb(var(--md-sys-color-outline));
	border-radius: 8px;
	color: rgb(var(--md-sys-color-on-surface-variant));
	white-space: nowrap;
	line-height: 32px;
	transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out,
		padding 0.1s ease-in-out, box-shadow 0.1s cubic-bezier(0.25, 0.8, 0.25, 1);
	cursor: pointer;
}

label.chip > .chip-label {
	margin: 0;
}

button.chip.assist {
	padding: 0;
}

button.chip.assist > span {
	color: rgb(var(--md-sys-color-on-surface));
	white-space: nowrap;
	line-height: 32px;
}

button.chip.assist > .chip-icon {
	color: rgb(var(--md-sys-color-primary));
	padding: 0 4px 0 12px;
	font-size: 18px;
}

button.chip.assist > .chip-icon:last-of-type {
	padding: 0 12px 0 4px;
}

label.chip > input:checked + .chip-label {
	outline: 0;
	background-color: rgb(var(--md-sys-color-secondary-container));
	color: rgb(var(--md-sys-color-on-secondary-container));
}

label.chip > input:disabled + .chip-label {
    cursor: not-allowed;
}

label.chip > input:disabled:not(:checked) + .chip-label {
	outline-color: rgba(var(--md-sys-color-on-surface), 0.12);
	color: rgba(var(--md-sys-color-on-surface), 0.38);
}

label.chip > input:disabled:checked + .chip-label {
	background-color: rgba(var(--md-sys-color-on-surface), 0.12);
	color: rgba(var(--md-sys-color-on-surface), 0.38);
}

label.chip.filter > .chip-label::before {
	content: "done";
	display: inline-block;
	font-family: "Material Symbols Rounded";
	font-size: 16px;
	width: 0;
	padding: 0 4px 0 12px;
	vertical-align: bottom;
	line-height: 32px;
	opacity: 0;
	transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out,
		width 0.1s ease-in-out, opacity 0.1s ease-in-out;
}

label.chip.filter > input:checked + .chip-label::before {
	width: 16px;
	opacity: 1;
}

label.chip > .chip-label::after {
	position: absolute;
	content: "";
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	border-radius: inherit;
	background-color: transparent;
	transition: background-color 0.1s ease-in-out;
	pointer-events: none;
}

.chip:hover > input:not(:disabled) + .chip-label::after {
	background-color: rgba(var(--md-sys-color-on-surface), 0.08);
}

.chip:hover > input:not(:disabled) + .chip-label {
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.chip:focus > input:not(:disabled) + .chip-label::after {
	background-color: rgba(var(--md-sys-color-on-surface), 0.08);
}

.chip.select > .chip-label {
	padding-right: 8px;
}

.chip.select select {
	background-color: inherit;
	border: 0;
	font: inherit;
	color: inherit;
    cursor: inherit;
}

.chip.select select:focus-visible {
	outline: 0;
}

label.chip.filter, button.chip.assist {
	position: relative;
	margin-right: 8px;
}