#modal-overlay {
    display: none;
    z-index: 25565;
    background-color: rgba(0, 0, 0, .4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.dialog {
    z-index: 25566;
    user-select: none;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(var(--md-sys-color-surface), 90%);
    padding: 24px;
    border-radius: 28px;
}

.dialog .dialog-icon {
    align-self: center;
    color: rgb(var(--md-sys-color-secondary));
    font-size: 32px;
}

.dialog .dialog-headline {
    align-self: center;
    color: rgb(var(--md-sys-color-on-surface));
    line-height: 32px;
    font-size: 24px;
    font-family: inherit;
    margin: 16px 0;
}

.dialog .dialog-button {
    display: flex;
    flex-direction: row-reverse;
}

.dialog .dialog-supportText {
    align-self: center;
    color: rgb(var(--md-sys-color-on-surface-variant));
    line-height: 20px;
    font-size: 14px;
    font-family: inherit;
    margin-bottom: 24px;
    white-space: pre-line;
}