.md3-ripple__container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    overflow: hidden;
    background: transparent;
}

.md3-ripple__circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: rgba(var(--md-sys-color-on-primary-container), .12);
}

.md3-ripple__container.is-active .md3-ripple__circle {
    animation: md3-ripple .6s ease-out;
}

@keyframes md3-ripple {
    0% {
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
    100% {
      width: 200%;
      padding-bottom: 200%;
      opacity: 0;
    }
}