.table {
    max-width: calc(100vw - 2 * 40px);
    margin: 8px 0;
    border: 1px solid rgb(var(--md-sys-color-surface-variant));
    border-radius: 24px;
    overflow-x: auto;
    white-space: normal;
}
.table table {
    width: 100%;
    background-color: inherit;
    border-collapse: collapse;
    border-spacing: 0;
}
.table table tr th, .table table tr td {
    border-top: 1px solid rgb(var(--md-sys-color-surface-variant));
    border-left: 1px solid rgb(var(--md-sys-color-surface-variant));
    padding: 16px 24px;
}
.table table tr th {
    color: rgb(var(--md-sys-color-on-surface-variant));
    background-color: rgba(var(--md-sys-color-primary), 0.05)
}
.table table tr td {
    color: rgb(var(--md-sys-color-on-background));
}
.table table tr:first-child th, .table table tr:first-child td {
    border-top: 0;
}
.table table tr th:first-child, .table table tr td:first-child {
    border-left: 0;
}
.table table tr:first-child th:first-child, .table table tr:first-child td:first-child {
    border-top-left-radius: 16px;
}
.table table tr:first-child th:last-child, .table table tr:first-child td:last-child {
    border-top-right-radius: 16px;
}
.table table tr:last-child th:first-child, .table table tr:last-child td:first-child {
    border-bottom-left-radius: 16px;
}
.table table tr:last-child th:last-child, .table table tr:last-child td:last-child {
    border-bottom-right-radius: 16px;
}