<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="../stylesheets/index.css">
    <title>TREM</title>
</head>
<body>
  <div id="app-container" class="has-bg">
      <header id="titlebar">
          <button id="hamburger-menu"><span class="win-ctrl-icon material-symbols-rounded">menu</span></button>
          <div id="title-container">
              <img src="../assets/TREM.ico" alt="TREM Icon" id="app-icon" draggable="false">
              <span id="title">TREM 臺灣地震即時監測</span>
          </div>
          <div id="action-container">
            <button id="win-minimize"><span class="win-ctrl-icon material-symbols-rounded">chrome_minimize</span></button>
            <button id="win-maximize"><span class="win-ctrl-icon material-symbols-rounded">chrome_maximize</span></button>
            <button id="win-unmaximize" style="display: none;"><span class="win-ctrl-icon material-symbols-rounded">chrome_restore</span></button>
            <button id="win-close"><span class="win-ctrl-icon material-symbols-rounded">close</span></button>
          </div>
      </header>
      <div id="view-container">

      </div>
  </div>
</body>

<script src="../scripts/controls.js"></script>
<script src="../scripts/renderer.js"></script>
</html>