@import url("https://fonts.googleapis.com/css2?family=Google+Sans:wght@400;500&family=Noto+Sans+TC:wght@300;400;500&family=Noto+Sans+SC:wght@300;400;500&family=Noto+Sans+JP:wght@300;400;500&family=Noto+Sans+KR:wght@300;400;500&family=Roboto&display=swap");

/*
*:not(html):not(body) {
    outline: 1px solid green;
    background-color: rgba(0, 200, 0, 0.05);
}
*/

.material-symbols-rounded {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

body {
    all: unset;
    color: #fff;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow: hidden;
}

#app-container.has-bg {
    height: 100vh;
    width: 100vw;
    backdrop-filter: blur(40px);
    background-color: hsla(226, 10%, 4%, 0.859);
    transition: background-color 400ms ease-in-out;
    overflow: hidden;   
}

body.blur #app-container.has-bg {
    background-color: hsla(226, 0%, 13%, 1);
}

#titlebar {
    display: flex;
    height: 52px;
    align-items: center;
    -webkit-app-region: drag;
}

#hamburger-menu {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    aspect-ratio: 1 / 1;
    margin: 8px;
    border-radius: 4px;
    -webkit-app-region: no-drag;
}
    
#title-container {
    flex: 1;
}

#app-icon {
    height: 16px;
    aspect-ratio: 1 / 1;
    vertical-align: middle;
    margin: 8px;
}

#title {
    font-size: 12px;
    line-height: 16px;
}

#action-container {
    height: 52px;
    -webkit-app-region: no-drag;
}

#action-container > button {
    all: unset;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 44px;
}

#hamburger-menu:hover, #action-container > button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.win-ctrl-icon {
    font-size: 14px;
    margin: 0 14px;
}

#action-container > button#win-close:hover {
    background-color: #C42B1C;
}