:root {
 --md-primary: var(--md-primary-dark);
 --md-on-primary: var(--md-on-primary-dark);
 --md-primary-container: var(--md-primary-container-dark);
 --md-on-primary-container: var(--md-on-primary-container-dark);
 --md-secondary: var(--md-secondary-dark);
 --md-on-secondary: var(--md-on-secondary-dark);
 --md-secondary-container: var(--md-secondary-container-dark);
 --md-on-secondary-container: var(--md-on-secondary-container-dark);
 --md-tertiary: var(--md-tertiary-dark);
 --md-on-tertiary: var(--md-on-tertiary-dark);
 --md-tertiary-container: var(--md-tertiary-container-dark);
 --md-on-tertiary-container: var(--md-on-tertiary-container-dark);
 --md-error: var(--md-error-dark);
 --md-error-container: var(--md-error-container-dark);
 --md-on-error: var(--md-on-error-dark);
 --md-on-error-container: var(--md-on-error-container-dark);
 --md-background: var(--md-background-dark);
 --md-on-background: var(--md-on-background-dark);
 --md-surface: var(--md-surface-dark);
 --md-on-surface: var(--md-on-surface-dark);
 --md-surface-variant: var(--md-surface-variant-dark);
 --md-on-surface-variant: var(--md-on-surface-variant-dark);
 --md-outline: var(--md-outline-dark);
 --md-inverse-on-surface: var(--md-inverse-on-surface-dark);
 --md-inverse-surface: var(--md-inverse-surface-dark);
 --md-inverse-primary: var(--md-inverse-primary-dark);
 --md-shadow: var(--md-shadow-dark);
 --md-surface-tint: var(--md-surface-tint-dark);
 --md-outline-variant: var(--md-outline-variant-dark);
 --md-scrim: var(--md-scrim-dark);
 --md-custom-pink: var(--md-custom-pink-dark);
 --md-custom-green: var(--md-custom-green-dark);
 --md-custom-light-blue: var(--md-custom-light-blue-dark);
 --md-custom-yellow: var(--md-custom-yellow-dark);
 --md-custom-cyan: var(--md-custom-cyan-dark);
 --md-custom-orange: var(--md-custom-orange-dark);
 --md-custom-blue: var(--md-custom-blue-dark);
 --md-custom-purple: var(--md-custom-purple-dark);
 --md-custom-on-pink: var(--md-custom-on-pink-dark);
 --md-custom-on-green: var(--md-custom-on-green-dark);
 --md-custom-on-light-blue: var(--md-custom-on-light-blue-dark);
 --md-custom-on-yellow: var(--md-custom-on-yellow-dark);
 --md-custom-on-cyan: var(--md-custom-on-cyan-dark);
 --md-custom-on-orange: var(--md-custom-on-orange-dark);
 --md-custom-on-blue: var(--md-custom-on-blue-dark);
 --md-custom-on-purple: var(--md-custom-on-purple-dark);
 --md-custom-pink-container: var(--md-custom-pink-container-dark);
 --md-custom-green-container: var(--md-custom-green-container-dark);
 --md-custom-light-blue-container: var(--md-custom-light-blue-container-dark);
 --md-custom-yellow-container: var(--md-custom-yellow-container-dark);
 --md-custom-cyan-container: var(--md-custom-cyan-container-dark);
 --md-custom-orange-container: var(--md-custom-orange-container-dark);
 --md-custom-blue-container: var(--md-custom-blue-container-dark);
 --md-custom-purple-container: var(--md-custom-purple-container-dark);
 --md-custom-on-pink-container: var(--md-custom-on-pink-container-dark);
 --md-custom-on-green-container: var(--md-custom-on-green-container-dark);
 --md-custom-on-light-blue-container: var(--md-custom-on-light-blue-container-dark);
 --md-custom-on-yellow-container: var(--md-custom-on-yellow-container-dark);
 --md-custom-on-cyan-container: var(--md-custom-on-cyan-container-dark);
 --md-custom-on-orange-container: var(--md-custom-on-orange-container-dark);
 --md-custom-on-blue-container: var(--md-custom-on-blue-container-dark);
 --md-custom-on-purple-container: var(--md-custom-on-purple-container-dark);
}
