:root {
 --md-primary: var(--md-primary-light);
 --md-on-primary: var(--md-on-primary-light);
 --md-primary-container: var(--md-primary-container-light);
 --md-on-primary-container: var(--md-on-primary-container-light);
 --md-secondary: var(--md-secondary-light);
 --md-on-secondary: var(--md-on-secondary-light);
 --md-secondary-container: var(--md-secondary-container-light);
 --md-on-secondary-container: var(--md-on-secondary-container-light);
 --md-tertiary: var(--md-tertiary-light);
 --md-on-tertiary: var(--md-on-tertiary-light);
 --md-tertiary-container: var(--md-tertiary-container-light);
 --md-on-tertiary-container: var(--md-on-tertiary-container-light);
 --md-error: var(--md-error-light);
 --md-error-container: var(--md-error-container-light);
 --md-on-error: var(--md-on-error-light);
 --md-on-error-container: var(--md-on-error-container-light);
 --md-background: var(--md-background-light);
 --md-on-background: var(--md-on-background-light);
 --md-surface: var(--md-surface-light);
 --md-on-surface: var(--md-on-surface-light);
 --md-surface-variant: var(--md-surface-variant-light);
 --md-on-surface-variant: var(--md-on-surface-variant-light);
 --md-outline: var(--md-outline-light);
 --md-inverse-on-surface: var(--md-inverse-on-surface-light);
 --md-inverse-surface: var(--md-inverse-surface-light);
 --md-inverse-primary: var(--md-inverse-primary-light);
 --md-shadow: var(--md-shadow-light);
 --md-surface-tint: var(--md-surface-tint-light);
 --md-outline-variant: var(--md-outline-variant-light);
 --md-scrim: var(--md-scrim-light);
 --md-custom-pink: var(--md-custom-pink-light);
 --md-custom-green: var(--md-custom-green-light);
 --md-custom-light-blue: var(--md-custom-light-blue-light);
 --md-custom-yellow: var(--md-custom-yellow-light);
 --md-custom-cyan: var(--md-custom-cyan-light);
 --md-custom-orange: var(--md-custom-orange-light);
 --md-custom-blue: var(--md-custom-blue-light);
 --md-custom-purple: var(--md-custom-purple-light);
 --md-custom-on-pink: var(--md-custom-on-pink-light);
 --md-custom-on-green: var(--md-custom-on-green-light);
 --md-custom-on-light-blue: var(--md-custom-on-light-blue-light);
 --md-custom-on-yellow: var(--md-custom-on-yellow-light);
 --md-custom-on-cyan: var(--md-custom-on-cyan-light);
 --md-custom-on-orange: var(--md-custom-on-orange-light);
 --md-custom-on-blue: var(--md-custom-on-blue-light);
 --md-custom-on-purple: var(--md-custom-on-purple-light);
 --md-custom-pink-container: var(--md-custom-pink-container-light);
 --md-custom-green-container: var(--md-custom-green-container-light);
 --md-custom-light-blue-container: var(--md-custom-light-blue-container-light);
 --md-custom-yellow-container: var(--md-custom-yellow-container-light);
 --md-custom-cyan-container: var(--md-custom-cyan-container-light);
 --md-custom-orange-container: var(--md-custom-orange-container-light);
 --md-custom-blue-container: var(--md-custom-blue-container-light);
 --md-custom-purple-container: var(--md-custom-purple-container-light);
 --md-custom-on-pink-container: var(--md-custom-on-pink-container-light);
 --md-custom-on-green-container: var(--md-custom-on-green-container-light);
 --md-custom-on-light-blue-container: var(--md-custom-on-light-blue-container-light);
 --md-custom-on-yellow-container: var(--md-custom-on-yellow-container-light);
 --md-custom-on-cyan-container: var(--md-custom-on-cyan-container-light);
 --md-custom-on-orange-container: var(--md-custom-on-orange-container-light);
 --md-custom-on-blue-container: var(--md-custom-on-blue-container-light);
 --md-custom-on-purple-container: var(--md-custom-on-purple-container-light);
}
