button.filled-tonal-button {
    all: unset;
    width: fit-content;
    height: 40px;
    background-color: rgb(var(--md3-secondary-container));
    border-radius: 20px;
    transition: background .1s ease-in-out;
    padding-left: 16px;
}

button.filled-tonal-button .filled-tonal-button-icon {
    color: rgb(var(--md3-on-secondary-container));
}

button.filled-tonal-button .filled-tonal-button-label {
    all: unset;
    display: inline-block;
    color: rgb(var(--md3-on-secondary-container));
    font-size: 14px;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 500;
    padding-left: 8px;
    padding-right: 24px;
}

button.filled-tonal-button:hover {
    background: linear-gradient(0deg, rgba(var(--md3-on-secondary-container), .08) 0%, rgba(var(--md3-on-secondary-container), .08) 100%),
                rgb(var(--md3-secondary-container));
}

button.filled-tonal-button:focus {
    background: linear-gradient(0deg, rgba(var(--md3-on-secondary-container), .12) 0%, rgba(var(--md3-on-secondary-container), .12) 100%),
                rgb(var(--md3-secondary-container));
}

button.filled-tonal-button:active {
    background: linear-gradient(0deg, rgba(var(--md3-on-secondary-container), .12) 0%, rgba(var(--md3-on-secondary-container), .12) 100%),
                rgb(var(--md3-secondary-container));
}

button.filled-tonal-button:focus-visible {
    outline: 2px solid rgb(var(--md3-primary));
}