body {
    --md3-background: 255, 251, 254;
    --md3-on-background: 28, 27, 31;
    --md3-primary: 103, 81, 164;
    --md3-primary-container: 234, 221, 255;
    --md3-on-primary-container: 33, 0, 94;
    --md3-on-primary: 255, 255, 255;
    --md3-secondary: 98, 91, 113;
    --md3-secondary-container: 232, 222, 248;
    --md3-on-secondary-container: 30, 25, 43;
    --md3-surface: 255, 251, 254;
    --md3-on-surface: 28, 27, 31;
    --md3-surface-variant: 231, 224, 236;
    --md3-on-surface-variant: 73, 69, 78;
    --md3-surface-tint: var(--md3-primary);
    --md3-outline: 121, 116, 126;
}
body.md3-dark {
    --md3-background: 28, 27, 31;
    --md3-on-background: 230, 225, 229;
    --md3-primary: 208, 188, 255;
    --md3-primary-container: 79, 55, 139;
    --md3-on-primary-container: 234, 221, 255;
    --md3-on-primary: 55, 30, 115;
    --md3-secondary: 204, 194, 220;
    --md3-secondary-container: 74, 68, 88;
    --md3-on-secondary-container: 232, 222, 248;
    --md3-surface: 28, 27, 31;
    --md3-on-surface: 230, 225, 229;
    --md3-surface-variant: 73, 69, 79;
    --md3-on-surface-variant: 202, 196, 208;
    --md3-surfac-tint: var(--md3-primary);
    --md3-outline: 147, 143, 153;
}
.material-symbols-rounded {
  vertical-align: top;
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}